body {
	background-color: rgb(50, 50, 50);
	color: rgb(220, 220, 220);
}

#terrain-canvas,
#entity-canvas {
	position: absolute;
	border: 3px solid black;
}

#ui {
	position: absolute;
	border: 3px solid transparent;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#ui > * {
	padding: 2px 5px;
}

#player-span {
	float: left;
}

#fps-span {
	float: right;
}
